html {
	
}

body{
	text-align: center;
	background-image: url("http://getwallpapers.com/wallpaper/full/0/6/b/15711.jpg");
	color:white;
}

img {
	height: 150px;
	width: 300px;
}

.text-muted{
	color: rgb(250, 226, 10);
}
.last-seconds{
  color: red;
  font-weight: bold;
}
.option{
  margin: 15px;
}

.btn {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-color: white;
}

.btn:hover {
	color: rgb(0, 0, 0);
	border-color: rgb(211, 211, 211);
	background-color: rgb(211, 211, 211);
}

.jumbotron {
	/* background: rgba(204, 204, 204, 0.712); */
	background: rgba(39, 91, 139, 0.719);
}